<br>
<br><br>
    
                                                                                                                                                                                            

    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
              
                <div class="col-md-4 col-sm-6"   *ngFor="let item of   ImgList">
                    <div class="portfolio-item">
                        <br><br><br><br><br>
                            <div class="image">
                                <img src="../../../assets/picture/{{item.photo}}" width="250" height="280">
                             
                            </div>
                        </div>
                    </div>
                
            </div>
                           

            
                             

            </div>
      <br>
<br><br>
    <br>
<br><br>
    <br>
    
        </div>
    