
<br>
<br><br>
    
                                                                                                                                                                                            

    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
              
                <div class="col-md-4 col-sm-6"   *ngFor="let item of  vidList">
                    <div class="portfolio-item">
                       <br> <br> <br>
                            <div class="thumb">
                                <div>{{item.nom}}</div>
                               
                                
                            
                                <video width="320" height="240" controls>
                                    <source src="../../../assets/video/{{item.video}}" type="video/mp4" >  
                                </video>
                    
                              
                           
                    
                
                
          
      <br>
<br><br>
    <br>
<br><br>
    <br>
    
    