
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <img src="assets/images/logo5.png" alt="Logo N&B" id="logoImg"  /> 
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Accueil</a></li>
                            <li class="scroll-to-section"><a routerLink="sport">Sports</a></li>
                            <li class="scroll-to-section"><a routerLink="actualites">Actualites</a></li>
                            <li class="scroll-to-section"><a routerLink="evenements">Evenements</a></li>
                            <li class="scroll-to-section"><a routerLink="resultats">Resultats</a></li> 
                            <li class="scroll-to-section"><a routerLink="album">Galerie</a></li>
                            <li class="scroll-to-section"><a routerLink="about">A Propos</a></li>
                            <li class="scroll-to-section"><a routerLink="contact">Contact</a></li> 
                           
                        </ul>        
                        

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
   