<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active-link">Deconnexion</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/sport" routerLinkActive="active-link">Sport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/equipes" routerLinkActive="active-link">Equipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/joueurs" routerLinkActive="active-link" >Joueurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/responsable" routerLinkActive="active-link" > Responsables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/matchs" routerLinkActive="active-link" >Matchs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actualites" routerLinkActive="active-link" >actualites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catevent" routerLinkActive="active-link" >Catégorie/events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listeevents" routerLinkActive="active-link" >Liste/events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/organigramme" routerLinkActive="active-link" >Organigramme/Bureau</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/motpres" routerLinkActive="active-link" >mot/President</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/albums" routerLinkActive="active-link" >Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/changervideoacc" routerLinkActive="active-link" >Video/Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messagerecus" routerLinkActive="active-link" >Messages recus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link" >contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/conventions" routerLinkActive="active-link" >Conventions</a>
        </li>
       
      </ul>
    </div>
  </nav>
  