
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/stbbank" role="button"
                  ><i class="bi bi-facebook"></i></a>
          
                <!-- Twitter -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/stb_labanque" role="button"
                  ><i class="bi bi-twitter"></i
                ></a>
          
                <!-- Youtube -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1"href="https://www.youtube.com/channel/UCHdk0hJtFsu4xxoBgUwSocA" role="button"
                  ><i class="bi bi-youtube"></i></a>
          
                <!-- Instagram -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1"href="https://www.instagram.com/stbbank/" role="button"
                  ><i class="bi bi-instagram"></i></a>
          
                <!-- Linkedin -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                  ><i class="bi bi-linkedin"></i
                ></a>
          
              
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.34);">
                <span>© 2022 ASSTB</span>
            
            </div>
            <!-- Copyright -->
          </footer>